services:
  api:
    image: {{ image_name }}
    container_name: mlops-fastapi
    env_file:
      - .env
    ports:
      - "{{ app_port }}:8000"
    volumes:
      - ./models:/app/models
    restart: unless-stopped
